<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilosIA.css">
    <title>Plantas de exterior</title>
</head>
<body>
    <header>
        <h1>
            Plantas de exterior
        </h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="interior.html">Plantas de Interior</a></li>
            <li><a href="exterior.html">Plantas de Exterior</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="mantenimiento.html">Manteniminto</a></li>
        </ul>
    </nav>
    <div class="contenedor-plantas">
        <div class="planta">
            <div>
                <h2>Rosas (Rosa spp.)</h2>
                <img src="./../imagenes/rosas.jpg">
            </div>
            <div>
                <a href="./../info/rosas.pdf" download>PDF con info adicional</a>
            </div>
        </div>
    
        <div class="planta">
            <div>
                <h2>Arbusto de Mariposas (Buddleja davidii)</h2>
                <img src="./../imagenes/mariposa.jpeg">
            </div>
            <div>
                <a href="./../info/mariposas.pdf" download>PDF con info adicional</a>
            </div>
        </div>
    
        <div class="planta">
            <div>
                <h2>Hortensia (Hydrangea spp.)</h2>
                <img src="./../imagenes/hortensia.jpeg">
            </div>
            <div>
                <a href="./../info/hortensias.pdf" download>PDF con info adicional</a>
            </div>
        </div>
    </div>
    
</body>
</html>
