<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilosIA.css">
    <title>Mi Sitio de Plantas</title>
</head>
<body>
    <header>
        <h1>Mi Sitio de Plantas</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="interior.html">Plantas de Interior</a></li>
            <li><a href="exterior.html">Plantas de Exterior</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="mantenimiento.html">Mantenimiento</a></li>
        </ul>
    </nav>
    <main>
        <!-- El contenido de tu sitio web irá aquí -->
        <div class="contenedor">
            <div class="texto">
                <a href="./infoEjercicio.html">ACTIVIDAD 1 - PROYECTO DE SOFTWARE</a>
            </div>
            <div class="imagen">
                <img src="./../imagenes/inicio3.jpeg"> 
            </div>
        </div>
    </main>
    <footer>
        &copy; 2023 Mi Sitio de Plantas
    </footer>
</body>
</html>
