<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilosIA.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Sobre la actividad</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="interior.html">Plantas de Interior</a></li>
            <li><a href="exterior.html">Plantas de Exterior</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="mantenimiento.html">Manteniminto</a></li>
        </ul>
    </nav>
    <section>
        <h2>Consigna:</h2>
        <div style="display: inline-block; margin-right: 10px;vertical-align: top;">
            <p>Parte 1:</p>
            <img src="./../imagenes/parte1.png">
        </div>
        <div style="display: inline-block;vertical-align: top;">
            <p>Parte 2:</p>
            <img src="./../imagenes/parte2.png">
        </div>
    </section>
    <section>
        <h2>Video realizado:</h2>
        <a href="">click aquí</a>
    </section>
    <footer>
        &copy; Proyecto de software
    </footer>
</body>
</html>