<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilosIA.css">
    <title>Plantas de Interior</title>
</head>
<body>
    <header>
        <h1>
            Plantas de interior
        </h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="interior.html">Plantas de Interior</a></li>
            <li><a href="exterior.html">Plantas de Exterior</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="mantenimiento.html">Manteniminto</a></li>
        </ul>
    </nav>
    <div class="contenedor-plantas">
        <div class="planta" >
            <div>
                <h2>Pothos (Epipremnum aureum)</h2>
                <img src="./../imagenes/photos.jpeg">
            </div>
            <div>
                <a href="./../info/pothos.pdf" download>PDF con info adicional</a>
            </div>
        </div>
    
        <div class="planta" >
            <div>
                <h2>Espatifilo (Spathiphyllum)</h2>
                <img src="./../imagenes/espatilifo.jpeg">
            </div>
            <div>
                <a href="./../info/espatilifo.pdf" download>PDF con info adicional</a>
            </div>          
        </div>
    
        <div class="planta">
            <div>
                <h2>Suculenta (Succulent)</h2>
                <img src="./../imagenes/suculenta.jpeg">
            </div>
            <div>
                <a href="./../info/suculenta.pdf" download>PDF con info adicional</a>
            </div>
        </div>
    </div> 
</body>
</html>
