<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilosIA.css">
    <title>Sobre Nosotros - techX</title>
</head>
<body>
    <header>
        <h1>Sobre Nosotros</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="interior.html">Plantas de Interior</a></li>
            <li><a href="exterior.html">Plantas de Exterior</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="mantenimiento.html">Manteniminto</a></li>
        </ul>
    </nav>
    <section>
        <h2>Equipo techX</h2>
        <p>techX es un equipo apasionado por la tecnología y la innovación. Estamos comprometidos en brindarte información y recursos relacionados con la tecnología.</p>
        <p>Si tienes alguna pregunta o comentario sobre nuestro contenido, no dudes en ponerte en contacto con nosotros.</p>
    </section>
    <section>
        <h2>Información de Contacto</h2>
        <p>Nombre del Equipo: techX</p>
        <p>Correo Electrónico: <a href="mailto:info@techx.com">info@techx.com</a></p>
        <p>Teléfono: +1 (123) 456-7890</p>
    </section>
    <footer>
        &copy; 2023 techX
    </footer>
</body>
</html>
